<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Number Smash</title>
		<script src="assets/scripts.js"></script>
		<script>
			{% if page.basic %}
				var basic = true;
			{% else %}
				var basic = false;
			{% endif %}
		</script>
		<link rel="icon" href="icon.ico" type="image/x-icon">
		{% if page.basic %}
		{% else %}
		<link rel="stylesheet" type="text/css" href="assets/style.css">
		{% endif %}
		<link rel="stylesheet" type="text/css" href="assets/basic/style.css">
	</head>
	<body style="user-select:none" class="trans">
		<div id="titles">
			<div class="title">Number Smash</div>
			<div class="subtitle2">By Idad Wind</div>
		</div>
		<br>
		<div id="numbers" style="text-align: center;">
		</div>
		<div style="text-align: center;" class="hide" id="gameover_div">
			<span class="subtitle">Game Over</span>
			<br>
			<span class="subtitle2" id="gameover_text"></span>
		</div>
		<br>
		<div id="controls" style="text-align: center;">
			<input type="submit" id="Submit" value="Submit" class="buttons submit_button">
			<input type="reset" id="Reset" value="Reset" class="buttons reset_button">
			<input type="button" id="checkGame" value="I can't find a valid smash" class="buttons warning_button">
			<input type="button" id="Help" value="Help" class="buttons">
			<div id="ShowSumCheckBox" class="inline_block">
				<label for="ShowSum" class="buttons checkbox">
					<input type="checkbox" id="ShowSum" style="cursor: pointer">
					<span style="cursor: pointer" class="not-trans">Show Sum</span>
				</label>
			</div>
			{% if page.basic %}
			{% else %}
			<input type="button" id="switch_color_scheme" value="Dark Mode" class="buttons">
			{% endif %}
		</div>
		<div id="infomations" style="text-align: center;">
			<span class="text">Score: <span class="data" id="score_span">0</span></span>
			<span class="text">&nbsp;Help Used Time: <span class="data" id="help_span">0</span></span>
			<span class="text hide-with-self" id="sum_span_container">&nbsp;Sum: <span class="data" id="sum_span" style="color:red">None</span></span>
		</div>
	</body>
</html>